
.containerLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.login{
display: flex;
flex-direction: row;
justify-content: center;

}

.labels{
    

}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.btnSubmit{
margin-top: 30px;
}

.submitLogin{
    border-radius: 20px;
    height: 40px;
    width: 300px;
    font-size: 18px;
    border: 1px solid;
    background-color: #ffffff;
    color: #000000;
    font-family: Lora, serif;
}