.ContainerJobs{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
   
}

.jobCardDetails{
    margin: 20px;
    margin-right: 90px;
    width: 70%;
    height: 900px;
    background-color: aquamarine;
    border-radius: 40px;
    border: 1px solid;
  
}
       
.card-body-details{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.cards{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;
    height: 20%;
    cursor: pointer;
    border-radius: 40px;
    border: 1px solid;
    
    
}

.cards-jobs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-body{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

}

.btnApply{
    width: 20px;

}

.cards{
    margin: 20px;
}