
.ContainerJobs{
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
   gap: 10px;
    
   
}


.cards-jobs{
    margin-right: 10px;
}




.jobCardDetails{
    position: relative;
    left: 20px;
    margin-right: 50px;
    align-self: flex-start;
    width: 1300%;
    height: 500px;
    scrollbar-color: #a5a3ae #f6f6f6;
    scrollbar-width: none;
    overflow: auto;
    cursor: pointer;
    margin-bottom: 50px;
   
    
} 





.noPosts{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 50px;
background-color:antiquewhite ;
 width: 700px;
 height: 350px
}
.header {
    color: white;
    font-size: 100px;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.25);
  animation: animate 10s ease-in-out infinite;
    background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);

}

@keyframes animate {
    0%{
      background-position: 0 0;
    }
    25%{
      background-position: 100% 0;
    }
    50%{
      background-position: 100% 100%;
    }
    75%{
      background-position: 0% 100%;
    }
    100%{
      background-position: 0% 0%;
    }
  }
  

.opps{
font-size: 1.2em;
margin: 10px;

}

.pagination{
 
}


.btns a{
    display: inline-flex;
    text-decoration: none;
    border: 2px solid #69a6ce;  
    margin: 0 10px;
    color: #69a6ce;
    border-radius: 20px;
    padding: 3px;
    font-family: Verdana, sans-serif;

   
}

 .btns a:hover{
    background: #69a6ce;
    color: #fff;
  }
  
  
.paraOfCardsJobs{
    margin: 25px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 32px;
    font-family: Lora, serif;
  }



/* delete it on phone */
/* .jobCardDetails{
    position: fixed;
} */
/* .jobCardDetails{
    
    margin-right: 50px;
    width: 1210%;
    height: 500px;
    scrollbar-color: #a5a3ae #f6f6f6;
    scrollbar-width: none;
    overflow: auto;
    cursor: pointer;
    border: 1px solid blueviolet;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}  */
