

.register{
display: flex;
flex-direction: row;
justify-content: center;
position: relative;
top: 70px;
}

.labels{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: Lora, serif;
    position: relative;
    margin-right: 10px;

}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 40px;
}